form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-card{
    border: 2px solid red;
    height: 3
    0vh;
    width: 20vw;
}