.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid;
}
#signup-form{
    width: 50vh;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1vh;
    /* margin: auto; */
    background-color: rgb(85, 159, 159);
    justify-content: center;
    align-items: center;
}
#signup-form input[type="submit"]{
   width: fit-content;
   padding: 1vh;
   font-size: large;
}
#signup-form input[type="text"]{
    font-size: large;
    padding: 1vh;
    border-radius: 5vh;
}
#message-div{
    position: absolute;
    top: 5%;
    right:5%;
    height: 10vh;
    width: 20vw;
    border:  2px inset;
}
#message-bar-div{
    /* width: 100%; */
    background-color: rgb(4, 184, 4);
    height: 5%;
}